.preview-content > * {
  cursor: text;
}
.preview-content p,
.preview-content ol,
.preview-content ul,
.preview-content pre,
.preview-content blockquote,
.preview-content h1,
.preview-content h2,
.preview-content h3,
.preview-content h4,
.preview-content h5,
.preview-content h6 {
  margin: 0;
  padding: 0;

  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.preview-content h1 {
  font-size: 2em; /* Adjust size as needed */
  /* margin: 0.67em 0; */
}
.preview-content h2 {
  font-size: 1.5em; /* Adjust size as needed */
  /* margin: 0.75em 0; */
}
.preview-content h3 {
  font-size: 1.17em; /* Adjust size as needed */
  /* margin: 0.83em 0; */
}
.preview-content h5 {
  font-size: 0.83em; /* Adjust size as needed */
}
.preview-content h6 {
  font-size: 0.67em; /* Adjust size as needed */
}

/* Normal text style */
.preview-content p {
  font-size: 1rem; /* Adjust size as needed */
  /* margin: 1em 0; */
}
.formatTextContainer .ql-editor p {
  font-size: 1rem;
  // font-family: "RollgatesItalic";
  // font-family: "Rollgates";
}
.preview-content ol,
.preview-content ul {
  padding-left: -2rem;
}
.preview-content ol > li,
.preview-content ul > li {
  list-style-type: none;
}
.preview-content ul > li::before {
  content: "\2022";
}
.preview-content ul[data-checked="true"],
.preview-content ul[data-checked="false"] {
  pointer-events: none;
}
.preview-content ul[data-checked="true"] > li *,
.preview-content ul[data-checked="false"] > li * {
  pointer-events: all;
}
.preview-content ul[data-checked="true"] > li::before,
.preview-content ul[data-checked="false"] > li::before {
  color: #777;
  cursor: pointer;
  pointer-events: all;
}
.preview-content ul[data-checked="true"] > li::before {
  content: "\2611";
}
.preview-content ul[data-checked="false"] > li::before {
  content: "\2610";
}
.preview-content li::before {
  display: inline-block;
  white-space: nowrap;
  width: 1.2em;
}
.formatTextContainer .custom-span-fundraising-amount .ql-editor {
  direction: ltr;
}

.preview-content li:not(.ql-direction-rtl)::before {
  margin-left: -1.5em;
  margin-right: 0.3em;
  text-align: right;
}
.preview-content li.ql-direction-rtl::before {
  margin-left: 0.3em;
  margin-right: -1.5em;
}
.preview-content ol li:not(.ql-direction-rtl),
.preview-content ul li:not(.ql-direction-rtl) {
  padding-left: 1.5em;
}
.preview-content ol li.ql-direction-rtl,
.preview-content ul li.ql-direction-rtl {
  padding-right: 1.5em;
}
.preview-content ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-0;
}
.preview-content ol li:before {
  content: counter(list-0, decimal) ". ";
}
.preview-content ol li.ql-indent-1 {
  counter-increment: list-1;
}
.preview-content ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) ". ";
}
.preview-content ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.preview-content ol li.ql-indent-2 {
  counter-increment: list-2;
}
.preview-content ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) ". ";
}
.preview-content ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.preview-content ol li.ql-indent-3 {
  counter-increment: list-3;
}
.preview-content ol li.ql-indent-3:before {
  content: counter(list-3, decimal) ". ";
}
.preview-content ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}
.preview-content ol li.ql-indent-4 {
  counter-increment: list-4;
}
.preview-content ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) ". ";
}
.preview-content ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9;
}
.preview-content ol li.ql-indent-5 {
  counter-increment: list-5;
}
.preview-content ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) ". ";
}
.preview-content ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9;
}
.preview-content ol li.ql-indent-6 {
  counter-increment: list-6;
}
.preview-content ol li.ql-indent-6:before {
  content: counter(list-6, decimal) ". ";
}
.preview-content ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9;
}
.preview-content ol li.ql-indent-7 {
  counter-increment: list-7;
}
.preview-content ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) ". ";
}
.preview-content ol li.ql-indent-7 {
  counter-reset: list-8 list-9;
}
.preview-content ol li.ql-indent-8 {
  counter-increment: list-8;
}
.preview-content ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) ". ";
}
.preview-content ol li.ql-indent-8 {
  counter-reset: list-9;
}
.preview-content ol li.ql-indent-9 {
  counter-increment: list-9;
}
.preview-content ol li.ql-indent-9:before {
  content: counter(list-9, decimal) ". ";
}
.preview-content .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}
.preview-content li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}
.preview-content .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}
.preview-content li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}
.preview-content .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}
.preview-content li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}
.preview-content .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}
.preview-content li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}
.preview-content .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}
.preview-content li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em;
}
.preview-content .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}
.preview-content li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em;
}
.preview-content .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}
.preview-content li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em;
}
.preview-content .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}
.preview-content li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em;
}
.preview-content .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}
.preview-content li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em;
}
.preview-content .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}
.preview-content li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em;
}
.preview-content .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}
.preview-content li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em;
}
.preview-content .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}
.preview-content li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em;
}
.preview-content .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}
.preview-content li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em;
}
.preview-content .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}
.preview-content li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em;
}
.preview-content .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}
.preview-content li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em;
}
.preview-content .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}
.preview-content li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em;
}
.preview-content .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}
.preview-content li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em;
}
.preview-content .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}
.preview-content li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 28.5em;
}
.preview-content .ql-align-left {
  text-align: left;
}

.preview-content .ql-align-right {
  text-align: right;
}

.preview-content .ql-align-center {
  text-align: center;
}

.preview-content .ql-align-justify {
  text-align: justify;
}
.preview-content .ql-size-small {
  font-size: 0.75em;
}
.preview-content .ql-size-large {
  font-size: 1.5em;
}
.preview-content .ql-size-huge {
  font-size: 2.5em;
}
